body {
    background: url("puutausta.jpg");
    background-size: 50%;
    font-family: "Georgia";
    font-size: 1.1em;
}


.row
{
    padding-top: 10px;
    padding-left: 20px;
    width: 50%;
    margin: 0 auto;
    background-color: #fcf492 ;
}

.alueotsikko
{
    margin: 0 auto;
    background-color: #fcf492  ;
}



.results
{
    width: 50%;
    margin: 0 auto;
    background-color: #fcf492  ;
}

.nappuladiv
{
    padding-top: 20px;
    padding-left: 3%;
    width: 50%;
    background-color:#fcf492 ;
}
.column1
{
    margin-left: 15%;
    margin-top: 5%;
    width: 30%;
    background-color: #fcf492 ;
    float:left;
}
.column2
{
    margin-top: 10%;
    margin-left: 15%;
    width: 30%;
    background-color: #fcf492 ;
    float:left;
}


.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    border-radius: 5px;
    background: black;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: orange;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    height: 20px;
    border-radius: 50%;
    background: orange;
    cursor: pointer;
}

area {
    cursor: pointer;
}

input[type=button] {
    background-color: lemonchiffon;
    color: black;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
}

input[type=button]:hover {
    background-color: ligthyellow;
}

input[type=text],textarea {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.luokka {
    padding-left: 10px;
    list-style-type: circle;
}