.column {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

body {
    background: url("thetausta.jpg");
    background-size: 50%;
}

.otsikko {
    font-size: 40px;
    margin-left: 27%;
}

.row
{
    width: 50%;
    margin: 0 auto;
    background-color: lemonchiffon ;
}



.results
{
    width: 50%;
    margin: 0 auto;
    background-color: lemonchiffon ;
}

.nappuladiv
{
    width: 50%;
    margin: 0 auto;
    background-color: lemonchiffon ;
}
.column1
{
    margin-left: 20%;
    margin-top: 10%;
    width: 30%;
    background-color: lemonchiffon ;
    float:left;

img#Map {
    margin-top: 10%;
    margin-left: 20%;
    margin-bottom: 10%;
}

.slidecontainer {
    width: 75%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: black;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url("kalja.png");
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    background: url("kalja.png");
    cursor: pointer;
}

area {
    cursor: pointer;
}

input[type=submit] {
    background-color: plum;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: plum;
}